<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mushroom Classification</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<form action="{{url_for('predict_datapoint')}}" method="POST">
    <div class="form-group">

<body>
    <div class="title">
        <h2>Mushroom Classification ML App</h2>
    </div>
    <div class="subtitle">
        <h3>Find out if your Mushroom is "Poisonous" or "Edible"</h3>
    </div>
    <div class="var">
        <form action="/result" method="post">
            <div class="var1">
                <label for="Cap-Surface">Cap-Surface :</label>
                <select id="Cap-Surface" name="Cap-Surface">
                    <option value="0">Select</option>
                    <option value="y">Scaly - y</option>
                    <option value="s">Smooth - s</option>
                    <option value="f">Fibrous - f</option>
                    <option value="g">Grooves - g</option>
                </select>
            </div>
            <div class="var1">
                <label for="Bruises">Bruises :</label>
                <select name="Bruises" id="Bruises">
                    <option value="0">Select</option>
                    <option value="f">No Bruises - f</option>
                    <option value="t">Yes Bruises - t</option>
                </select>
            </div>
            <div class="var1">
                <label for="Gill-Spacing">Gill-Spacing :</label>
                <select name="Gill-Spacing" id="Gill-Spacing">
                    <option value="0"> Select</option>
                    <option value="c">Close - c</option>
                    <option value="w">Crowded - w</option>
                </select>
            </div>
            <div class="var1">
                <label for="Gill-Size">Gill-Size :</label>
                <select name="Gill-Size" id="Gill-Size">
                    <option value="0">Select</option>
                    <option value="b">Broad - b</option>
                    <option value="n">Narrow - n</option>
                </select>
            </div>
            <div class="var1">
                <label for="Gill-Color">Gill-Color :</label>
                <select name="Gill-Color" id="Gill-Color">
                    <option value="0">Select</option>
                    <option value="b">Buff - b</option>
                    <option value="p">Pink - p</option>
                    <option value="w">White - w</option>
                    <option value="b">Brown - b</option>
                    <option value="g">Gray - g</option>
                    <option value="h">Chocolate - h</option>
                    <option value="u">Purple - u</option>
                    <option value="k">Black - k</option>
                    <option value="e">Red - e</option>
                    <option value="y">Yellow - y</option>
                    <option value="o">Orange - o</option>
                    <option value="r">Green - r</option>
                </select>
            </div>
            <div class="var1">
                <label for="Stalk-Root">Stalk-Root :</label>
                <select name="Stalk-Root" id="Stalk-Root">
                    <option value="0">Select</option>
                    <option value="b">Bulbous - b</option>
                    <option value="e">Equal - e</option>
                    <option value="c">Club - c</option>
                    <option value="r">Rooted - r</option>
                </select>
            </div>
            <div class="var1">
                <label for="Stalk-Surface-Above-Ring">Stalk-Surface-Above-Ring :</label>
                <select name="Stalk-Surface-Above-Ring" id="Stalk-Surface-Above-Ring">
                    <option value="0">Select</option>
                    <option value="s">Smooth - s</option>
                    <option value="k">Silky - k</option>
                    <option value="f">Fibrous - f</option>
                    <option value="y">Scaly - y</option>
                </select>
            </div>
            <div class="var1">
                <label for="Stalk-Surface-Below-Ring">Stalk-Surface-Below-Ring :</label>
                <select name="Stalk-Surface-Below-Ring" id="Stalk-Surface-Below-Ring">
                    <option value="0">Select</option>
                    <option value="s">Smooth - s</option>
                    <option value="k">Silky - k</option>
                    <option value="f">Fibrous - f</option>
                    <option value="y">Scaly - y</option>
                </select>
            </div>
            <div class="var1">
                <label for="veil-type">veil-type :</label>
                <select name="veil-type" id="veil-type">
                    <option value="0">Select</option>
                    <option value="p">partial - p</option>
                    <option value="u">universal - u</option>
                    
                </select>
            </div>
            <div class="var1">
                <label for="Ring-Type">Ring-Type :</label>
                <select name="Ring-Type" id="Ring-Type">
                    <option value="0">Select</option>
                    <option value="p">Pendant - p</option>
                    <option value="e">Evanescent - e</option>
                    <option value="l">Large - l</option>
                    <option value="f">Flaring - f</option>
                    <option value="n">None - n</option>
                </select>
            </div>
            <div class="var1">
                <label for="Spore-Print-Color">Spore-Print-Color :</label>
                <select name="Spore-Print-Color" id="Spore-Print-Color">
                    <option value="0">Select</option>
                    <option value="w">White - w</option>
                    <option value="n">Brown - n</option>
                    <option value="k">Black - k</option>
                    <option value="h">Chocolate - h</option>
                    <option value="r">Green - r</option>
                    <option value="u">Purple - u</option>
                    <option value="o">Orange - o</option>
                    <option value="y">Yellow - y</option>
                    <option value="b">Buff - b</option>
                </select>
            </div>
            <div class="var1">
                <label for="Population">Population :</label>
                <select name="Population" id="Population">
                    <option value="0">Select</option>
                    <option value="v">Several - v</option>
                    <option value="y">Solitary - y</option>
                    <option value="s">Scattered - s</option>
                    <option value="n">Numerous - n</option>
                    <option value="a">Abundant - a</option>
                    <option value="c">Clustered - c</option>
                </select>
            </div>
            <div class="var1">
                <label for="Habitat">Habitat :</label>
                <select name="Habitat" id="Habitat">
                    <option value="0">Select</option>
                    <option value="d">Woods - d</option>
                    <option value="g">Grasses - g</option>
                    <option value="p">Paths - p</option>
                    <option value="l">Leaves - l</option>
                    <option value="u">Urban - u</option>
                    <option value="m">Meadows - m</option>
                    <option value="w">Waste - w</option>
                </select>
            </div>
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>        
    </div>
    <footer>

        </nav>
    </footer>
</body>

</html>